@font-face {font-family: 'SourceHanSerif-12dadde9041d50d';src: url('../font/5b309ef103571a69898a5055.gif');src: url('../font/5b309ef103571a69898a5055.gif') format('embedded-opentype'),url('../font/5b309ef103571a69898a5055.png') format('woff2'),url('../font/5b309ef103571a69898a5055.bmp') format('woff'),url('../font/5b309ef103571a69898a5055.jpg') format('truetype');font-weight: normal;font-style: normal;}
html,body{height: 100%;margin: 0;font-family:'SourceHanSerif-12dadde9041d50d';}
.swiper-container,.swiper-wrapper{width: 100%;height: 100%;}
.blackbg{background: #000;width: 100%;height: 100%;color: #fff;}
.whitebg{background: #fff;width: 100%;height: 100%;color: #000;}
.logo{max-width: 15%;position: relative;top: 25%;left: 7%;}
.enName{position: absolute;bottom: 10%;right: 7%;max-width: 15%;}
.foodInfo{display: inline-block;position: relative;left: 10%;top: 34%;width: 25%;}
.foodName{font-size: 4.8vh;margin-bottom: 20px;}
.enfoodName{font-size: 3vh;margin-bottom: 40px;}
.foodMakeup{font-size: 2vh;line-height: 2px;}
.foodImg{width: 56%;position: absolute;top: 50%;left: 32%;transform: translate(0,-51%);z-index: 20;transition: 1s;}
.foodImgdely{width: 56%;position: absolute;top: 50%;left: 32%;transform: translate(0,-51%);z-index: 10}
.page{position: absolute;left: 10%;bottom: 15%;font-size: 2.1vh;}

/*滚动条*/
.gundong{bottom: 40px;height: 10px;background: none;z-index: 20;width: 80%;left: 50%;transform: translateX(-50%);}
.gundong .swiper-scrollbar-drag{background: url(../img/type.png);background-size:cover ;background-repeat:no-repeat;height: 17px}
.gundong .swiper-scrollbar-drag-black{background: url(../img/type-1.png);background-size:cover ;background-repeat:no-repeat;}
.swiper-pagination{bottom: 23px;width: 80%;left: 50%;transform: translateX(-50%);}

/*分页器*/
.swiper-pagination .swiper-pagination-bullet{background: #fff;margin: 0px calc((100% - 14*8px - 22px)/13) 0 0;}
.swiper-pagination .swiper-pagination-bullet:nth-last-child(1){margin: 0;margin-right: 11px;}
.swiper-pagination .swiper-pagination-bullet:nth-of-type(1){margin-left: 11px;}
.swiper-pagination-bullet-active{opacity: .1}
.swiper-pagination{transition: 0.2s;opacity: 0}
.swiper-pagination:hover{opacity: 1}
/*.swiper-pagination-bullet-active + span{opacity: .4}*/

.swiper-pagination .swiper-pagination-bullet-black{background: #000;}

/*返回按钮*/
.backBtn{position: absolute;right: 32px;top: 57px;cursor: pointer;height: 1.5vh}